MODE=TEST

DB_HOST=localhost
DB_NAME=test
DB_PORT=5432
DB_USER=userdb
DB_PASS=userdb_password

REDIS_HOST=localhost
REDIS_POST=6379

JWT_SECRET_KEY=05r37q395CA2556c81secret81637098fcb88e8D3e8
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30